.banner {
  height: 130px;
  background: linear-gradient(315deg, #237cfe 0%, #70acfe 100%);
  box-shadow: 2px 0px 16px 0px rgba(129, 141, 168, 0.2);
  border-radius: 20px;
  overflow: hidden;

  .bannerMain {
    height: 92px;
    padding: 0 40px;
  }

  .bannerFooter {
    height: 38px;
    line-height: 38px;
    padding-left: 40px;
    background: linear-gradient(90deg, #8ba1c0 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  .btn {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
  }
}
.chartWrap {
  margin-top: 23px;
  border-radius: 20px;
  border: 1px solid #e1e2e6;

  .chartTitle {
    height: 84px;
    padding: 0 20px;
  }
}
:global {
  .tooltip {
    width: auto;
    height: 80px;
    background: linear-gradient(315deg, #237cfe 0%, #70acfe 100%);
    box-shadow: 2px 2px 16px 0px rgba(129, 141, 168, 0.41);
    border-radius: 16px;
    opacity: 0.75;
    padding: 12px;
    color: #fff;

    .count {
      font-style: italic;
    }
  }
}
