.modalWrap {
  :global {
    .ant-modal-title {
      text-align: center;
    }
    .ant-modal-footer {
      display: flex;
      justify-content: center;
    }
  }
}
.rangePicker {
  border-radius: 18px;
}
.smallInput {
  width: 228px;
}
