.modalWrap {
  :global {
    .ant-modal-title {
      text-align: center;
    }
    .ant-modal-footer {
      display: flex;
      justify-content: center;
    }
  }
}
.rangePicker {
  width: 400px;
  border-radius: 18px;
}
.input {
  border-radius: 18px;
}
