.wrap {
  padding: 30px;
}
.panel {
  height: 44px;
  padding: 0 20px;
  background: rgba(107, 151, 255, 0.08);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  line-height: 44px;
}
.content {
  padding-top: 30px;
}
// 配置内容
.momentContent {
  border-radius: 8px;
  border: 1px solid #e1e2e6;

  .headerTitle {
    background: #fafafa;
    height: 36px;
    line-height: 36px;
    padding: 0 28px;
    border-radius: 10px;
  }
  .select {
    width: 300px;
  }
  .input {
    width: 300px;
  }
  .time {
    width: 100px;
  }
  .operateCol {
    width: 50px;
  }

  .nodeBody {
    :global {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }

  .nodeItem {
    border-top: 1px solid #e1e2e6;
    padding: 14px 24px;
  }
}
