// 输入或者选择模块样式
.formItem {
  line-height: 36px;
  // Form中的Input
  .input {
    margin-left: 20px;
    width: 480px;
    height: 36px;
    // padding-right: 50px;
    border-radius: 18px;
  }
  .limitLength {
    position: relative;
    left: -46px;
    font-size: 14px;
    color: #cccdd0;
  }
  // Form中的Select
  .modalContentSelect {
    display: flex;
    margin-left: 20px;
    width: 160px;
    height: 36px;
    line-height: 30px;
    border-radius: 18px;
  }
  // 名片样式
  .card {
    margin-left: 20px;
    width: 320px;
    height: 200px;
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: url('/src/assets/images/sales/business_demo.jpg') no-repeat;
    background-size: 292px 172px;
    background-position: center center;
  }
  // 小站样式
  .station {
    margin-left: 20px;
    width: 240px;
    height: 100px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: url('/src/assets/images/sales/userHome_demo.jpg') no-repeat;
    background-size: 221px 72px;
    background-position: center center;
  }
  :global {
    .ant-select-selector {
      height: 36px;
    }
    .ant-form-item-extra {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}

// 上传图片(海报)模块样式
// 语音 视频
.imgformItem,
.voiceFormItem,
.videoFormItem {
  font-size: 0; // 幽灵节点
  .upload {
    margin-left: 20px;
    width: 104px;
    height: 104px;
    .iconWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 102px;
      height: 102px;
      .uploadIcon {
        width: 36px;
        height: 36px;
      }
      .uploadTip {
        margin-top: 8px;
        font-size: 14px;
        color: #606366;
      }
    }
  }
  // 上传语音/视频
  .uploadVoice,
  .uploadVideo {
    .btn {
      margin-left: 20px;
      width: 400px;
      height: 64px;
      background: #ffffff;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #111111;
      .uploadIcon {
        margin-right: 10px;
        width: 20px;
        height: 17px;
        color: #318cf5;
      }
      .uploadText {
        color: #318cf5;
      }
    }
  }
  :global {
    .ant-form-item-extra {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}
