.wrap {
  padding: 30px;
  .form {
    .antSpace {
      margin-bottom: 20px;
    }
    .antBtnSpace {
      width: 100%;
      justify-content: space-between;
      .resetBtn,
      .searchBtn {
        width: 88px;
        height: 36px;
        border-radius: 20px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
      }
      .searchBtn {
        margin-right: 10px;
      }
      .provideAllBtn {
        width: 128px;
        height: 40px;
        border-radius: 20px;
      }
    }
    :global {
      .ant-form-inline {
        .ant-form-item {
          align-items: center;
        }
      }
    }
  }
  .tableWrap {
    // Config样式
    .check {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #318cf5;
      cursor: pointer;
    }
  }
}
