.cockpit {
  background-color: #171b3c;
  min-height: 600px;
  background-image: url('~@/assets/images/cockpit/cockpit_bg.png');
  background-repeat: no-repeat;

  .cockpitBanner {
    padding: 44px 24px;
    color: #fff;
  }

  .bannerTitle {
    font-size: 40px;
    height: 56px;
    line-height: 56px;
    font-weight: 500;
    color: #fff;
  }

  .subTitle {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 22px;
  }

  .cockpitBody {
    padding: 0 24px;
  }

  .panelHeader {
    color: #fff;
    padding-bottom: 15px;
    border-bottom: 1px solid #52517d;
  }

  .panelTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
  }

  .time {
    font-size: 14px;
    color: #9c9ae2;
  }

  .importantTarget {
    // width: 276px;
    // height: 140px;
    // background: #383efe;
    // box-shadow: 0px 2px 4px 0px rgba(7, 6, 6, 0.4);
    // border-radius: 4px;
    // opacity: 0.3;
    padding-top: 30px;
  }

  .targetItem {
    min-width: 276px;
    height: 140px;
    background: #383efe;
    box-shadow: 0px 2px 4px 0px rgba(7, 6, 6, 0.4);
    border-radius: 4px;
    background: rgba(56, 62, 254, 0.2);
    color: #fff;
    padding: 20px 0px 20px 20px !important;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    .count {
      margin: 0;
      font-size: 40px;
      line-height: 47px;
    }
  }

  .targetIcon {
    float: right;
    width: 100px;
    height: 120px;
  }

  .targetIcon1 {
    background: url('~@/assets/images/cockpit/target_01.png') no-repeat;
  }

  .targetIcon2 {
    background: url('~@/assets/images/cockpit/target_02.png') no-repeat;
  }

  .targetIcon3 {
    background: url('~@/assets/images/cockpit/target_03.png') no-repeat;
  }

  .targetIcon4 {
    background: url('~@/assets/images/cockpit/target_04.png') no-repeat;
  }

  .panelHeaderChildren1,
  .panelHeaderChildren2 {
    width: 49%;
    color: #fff;
    padding-bottom: 15px;
    border-bottom: 1px solid #52517d;
  }

  .panelHeaderChildren2 {
    margin-left: 24px;
  }

  .tableBox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .table,
    .table1,
    .table2 {
      width: 49%;
      background: #1c205f;
      text-align: center;
      color: #fff;

      :global {
        .ant-spin-container {
          margin: 18px 20px 0;
        }

        .ant-table-tbody > tr > td,
        .ant-table-tbody > tr > td:hover {
          background: #1c205f;
        }

        .ant-table-tbody > tr > td {
          border-bottom: none;
        }

        .ant-table-thead > tr > th {
          color: #fff !important;
          font-size: 14px;
          background: #2c2e68 !important;
          border-bottom: 1px solid #383757;
          border-top: 1px solid #52517d;
        }

        .ant-table-column-sorters {
          justify-content: flex-start;

          .ant-table-column-title {
            flex: none;
          }
        }
        .ant-empty-description {
          color: #fff;
        }
        .ant-table-container table > thead > tr:first-child th:last-child {
          border-top-right-radius: 0;
        }
        .ant-table-container table > thead > tr:first-child th:first-child {
          border-top-left-radius: 0;
        }
      }
      .browse {
        text-align: center;
        margin-top: 21px;
        font-size: 14px;
      }
      .browseNum {
        font-size: 36px;
        // border-bottom: 1px solid #52517d;
        padding-bottom: 38px;
        margin: 0 24px;
      }
    }
    .table1 {
      background: #1c1e71;

      :global {
        .ant-spin-container {
          margin: 0 20px;
        }

        .ant-table-tbody > tr > td,
        .ant-table-tbody > tr > td:hover {
          background: #1c1e71 !important;
        }

        .ant-table-thead > tr > th {
          background: #1c1e71 !important;
        }
      }
    }

    .table2 {
      :global {
        .ant-spin-container {
          margin: 0 24px;
        }
      }
    }
  }
}
