.cockpit {
  background-color: #171b3c;
  min-height: 600px;
  background-image: url('~@/assets/images/cockpit_bg.png');
  background-repeat: no-repeat;

  .cockpitBanner {
    padding: 44px 24px;
    color: #fff;
  }
  .bannerTitle {
    font-size: 40px;
    height: 56px;
    line-height: 56px;
    font-weight: 500;
    color: #fff;
  }
  .subTitle {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 22px;
  }

  .cockpitBody {
    padding: 0 24px;
  }

  .panelHeader {
    color: #fff;
    padding-bottom: 15px;
    border-bottom: 1px solid #52517d;
  }
  .panelTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
  }
  .time {
    font-size: 14px;
    color: #9c9ae2;
  }

  .importantTarget {
    // width: 276px;
    // height: 140px;
    // background: #383efe;
    // box-shadow: 0px 2px 4px 0px rgba(7, 6, 6, 0.4);
    // border-radius: 4px;
    // opacity: 0.3;
  }
  .targetItem {
    width: 276px;
    height: 140px;
    background: #383efe;
    box-shadow: 0px 2px 4px 0px rgba(7, 6, 6, 0.4);
    border-radius: 4px;
    opacity: 0.3;
  }
}
