.btnGroup {
  padding-top: 8px;
  height: 38px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e1e2e6;
  margin-right: 16px;
  display: flex;
  &.open {
    height: auto;
  }
}

.textAreaWrap {
  margin: 0.2rem 0 0.2rem;
  padding: 8px 0 10px 16px;
  width: 640px;
  height: auto;
  background: #fff;
  border-radius: 18px;
  border: 1px solid #e1e2e6;

  .textAreaBox {
    overflow: hidden;
  }
  .textarea {
    border: none;
    padding-top: 10px;
    line-height: 1.333;
    font-size: 14px;
    outline: none;
    color: #111;
    line-height: 20px;
    width: 630px;
    padding-right: 16px;
  }
  .count {
    margin-right: 16px;
    color: #cccdd0;
  }

  .btnsWrap {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    :global {
      .ant-btn {
        padding: 0;
        margin: 0;
        margin-right: 10px;
        height: auto;
      }
    }
  }
}

.mr10 {
  margin-right: 10px;
}
:global {
  .ant-form-item-has-error {
    .isError {
      border-color: #ff4d4f !important;
    }
  }
}

.sensitiveWrap {
  margin-top: 10px;

  .errorText {
    color: #f25555;
  }
}

.rightBtns {
  display: flex;
  flex: none;
  width: auto;

  .btnArrow {
    color: #606366;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      color: #1890ff;
    }
  }
  .emojiBtn {
    margin-right: 8px;
    margin-top: -5px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: #1890ff;
    }
  }
}
