.uploadBtn {
  width: 118px;
  height: 36px;
  border-radius: 18px;
}

.form {
  margin-top: 30px;
  .input {
    width: 200px;
  }
  .select {
    width: 120px;
  }
  .submitBtn,
  .resetBtn {
    width: 88px;
    height: 36px;
    border-radius: 20px;
  }
  .submitBtn {
    margin-right: 10px;
  }
}
.table {
  margin-top: 30px;
}

.batchSendWrap {
  display: flex;
  align-items: center;
  margin-top: -48px;
  height: 36px;
  .batchSendBtn {
    border: 1px solid #318cf5;
    font-size: 14px;
    border-radius: 20px;
    color: #318cf5;
  }
}

// config
.send {
  font-size: 14px;
  font-weight: 400;
  color: #318cf5;
  cursor: pointer;
}
