.wrap {
  padding: 40px 56px;
  .contentBannerWrap {
    margin-bottom: 9px;
  }
}
.add {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 60px;
  height: 36px;
  font-weight: 400;
  color: #318cf5;
  cursor: pointer;
  .addIcon {
    margin-right: 4px;
    font-size: 18px;
  }
}
