.wrap {
  padding: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  height: 46px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  .title {
    height: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #111111;
    line-height: 20px;
  }
  .sumbit {
    width: 140px;
    height: 36px;
    background: #318cf5;
    border-radius: 18px;
  }
}

.desc {
  margin-top: 20px;
  height: 30px;
  background: #f8f8f8;
  font-size: 12px;
  font-weight: 400;
  color: #999aa1;
  line-height: 30px;
}
.form {
  margin-top: 20px;
  .inputNum {
    width: 100px;
    background: #ffffff;
    border-radius: 18px;
  }
  .input {
    width: 360px;
  }
  .textArea {
    width: 600px;
  }
  .select {
    width: 160px;
  }
  .unit {
    display: inline-block;
    margin-left: 10px;
  }
}
