.wrap {
  padding: 20px 24px;
}
.form {
  margin-top: 20px;
}
.panel {
  .title {
    padding: 0 20px;
    height: 44px;
    background: rgba(107, 151, 255, 0.08);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #111111;
    line-height: 44px;
  }
  .content {
    position: relative;
    padding: 20px;
    &.previewContent {
      min-height: 600px;
    }
  }
  // 手机预览
  .preview {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(0.83);
  }
  // 表单输入
  .input,
  .select,
  .rangePicker {
    width: 320px;
    margin-right: 6px;
  }
  .input {
    border-radius: 18px;
    border: 1px solid #d9d9d9;
    padding: 6px 11px;
    outline: none;
  }
  .textArea {
    width: 400px;
  }
  // 投放渠道
  .channelTag {
    padding: 20px;
    width: calc(100% - 300px);
    background: #f7f8fc;
    border-radius: 8px;
  }
  // 选择人员
  .chooseStaff {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    line-height: 20px;
    cursor: pointer;
    .addIcon {
      margin-right: 6px;
      font-size: 16px;
      color: #318cf5 !important;
    }
  }
}
.btnWrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .submitBtn,
  .cancelBtn {
    width: 112px;
    height: 40px;
    border-radius: 20px;
  }
  .submitBtn {
    margin-right: 46px;
  }
}
