.formItem {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  .itemTitle {
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
  }
  .itemContent {
    padding: 20px 20px 0px;
  }
}
.width650 {
  width: 650px;
}
