.chatBox {
  .chatTitle {
    width: 56px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #7e8185;
    line-height: 20px;
  }

  .chatText {
    margin: 8px 0 25px;

    .chatWord {
      font-size: 12px;
      font-weight: 400;
      color: #616568;
    }

    .chatNum {
      display: inline-block;
      width: 65px;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      color: #fb851c;
    }
    .chatNumTime {
      color: #fb851c;
    }
  }

  .chatFootText {
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 8px 10px;
  }

  .formBox {
    margin-top: 16px;

    :global {
      .ant-input {
        border-radius: 18px;
      }
    }
  }

  .formFootBox {
    .chatName,
    .chatTime {
      font-weight: 400;
      color: #7e8185;
    }

    .chatcard1 {
      font-weight: 400;
      color: #faac2f;
    }

    .chatcard2 {
      font-weight: 400;
      color: #6b97ff;
    }

    .chatFormText {
      font-size: 14px;
      color: #111111;
      margin: 8px 12px 12px 48px;
    }
  }
}
