.emptyWrap {
  min-height: calc(100vh - 130px);
}

.arrow {
  color: #e6e7eb;
  font-size: 44px;
  margin: 0 48px;
}
.choiceWrap {
  margin-left: 238px;
  margin-top: 220px;
  width: 625px;
}

.choiceTitle {
  color: #606366;
  font-weight: 500;
  margin-bottom: 50px;
}
.choiceItemLabel {
  font-size: 14px;
  color: #606366;
  margin-bottom: 20px;
}

.btnConfirm {
  width: 140px;
  height: 40;
  margin-top: 60px;
  font-size: 16px;
}
