// 语音 视频
.fileFormItem {
  font-size: 0; // 幽灵节点
  .uploadFile {
    .uploadBtn {
      width: 400px;
      height: 64px;
      background: #ffffff;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #111111;
      .uploadIcon {
        margin-right: 10px;
        width: 20px;
        height: 17px;
        color: #318cf5;
      }
      .uploadText {
        color: #318cf5;
      }
    }
  }
  :global {
    .ant-form-item-control {
      margin-left: 20px;
    }
  }
}
