.wrap {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  // 输入框，选择框样式
  .form {
    margin-bottom: 20px;
    .antSpace {
      .label {
        line-height: 36px;
      }
      .selectBox,
      .inputBox {
        width: 140px;
        height: 36px;
        background: #ffffff;
        border-radius: 18px;
        border-color: #e1e2e6;
      }
      .inputBox {
        width: 280px;
      }
      .searchBtn,
      .resetBtn {
        width: 88px;
        height: 36px;
        border-radius: 20px;
      }
    }
  }

  .edit {
    color: #318cf5;
    cursor: pointer;
  }
  .multiOperation {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -52px;
    button {
      margin-right: 10px;
      margin-bottom: 10px;
      height: 32px;
      background: #ffffff;
      border-radius: 18px;
      border: 1px solid #318cf5;
      color: #318cf5;
    }
    .paginationWrap {
      width: 650px;
      height: 32px;
    }
  }
}
