.wrap {
  padding: 24px;
}
.tip {
  margin-top: 24px;
  padding: 8px 16px 8px 40px;
  background: url('src/assets/images/icon_common_warning.png') no-repeat;
  background-color: #f3f7ff;
  background-size: 16px 16px;
  background-position: 16px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
}
// 手机预览
.preview {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0.83);
  z-index: 9;
}
.btnWrap {
  margin-top: 60px;
  margin-left: 100px;
  .submitBtn,
  .cancelBtn {
    width: 112px;
    height: 40px;
    border-radius: 20px;
  }
  .submitBtn {
    margin-right: 46px;
  }
}
