.wrap {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  overflow: hidden;
  // 输入框，选择框样式
  .form {
    margin-bottom: 20px;
    .antSpace {
      width: 100%;
      &:first-child {
        margin-bottom: 20px;
      }
      .label {
        line-height: 36px;
        label {
          width: 89px;
        }
      }
      .selectBox,
      .inputBox {
        width: 140px;
        height: 36px;
        background: #ffffff;
        border-radius: 18px;
        border-color: #e1e2e6;
      }
      .inputBox {
        width: 280px;
      }
      .rangePicker {
        width: 280px;
      }
      .searchBtn,
      .resetBtn {
        width: 88px;
        height: 36px;
        border-radius: 20px;
      }
    }
  }

  .edit {
    color: #318cf5;
    cursor: pointer;
    &.disabled {
      color: #d9d9d9;
      cursor: not-allowed;
    }
  }
  .multiOperation {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -52px;
    &.empty {
      margin-top: 16px;
    }
    button {
      margin-right: 10px;
      margin-bottom: 10px;
      height: 32px;
      border-radius: 18px;
      border: 1px solid #318cf5;
      color: #318cf5;
      &[disabled] {
        border-color: #d9d9d9;
        color: rgba(0, 0, 0, 0.25);
      }
    }
    .paginationWrap {
      width: 650px;
      height: 32px;
    }
  }
  :global {
    .ant-table-selection-column {
      padding-left: 16px !important;
    }
  }
}
.modalWrap {
  .content {
    text-align: center;
  }
  :global {
    .ant-modal-header,
    .ant-modal-footer {
      border: none;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
    }
    .ant-modal-footer {
      display: flex;
      padding-top: 0;
      padding-bottom: 30px;
      justify-content: space-between;
      button {
        width: 110px;
        height: 36px;
        border-radius: 18px;
      }
    }
  }
}
