.formBlock {
  margin: 20px;
  padding-bottom: 20px;
  border: 1px solid #e1e2e6;
  border-radius: 8px;

  .blockTitle {
    padding: 0 24px;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    color: #111;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .blockDelete {
    padding: 0;
  }

  .taskNode {
    border-radius: 8px;
    border: 1px solid #e1e2e6;

    .nodeTitle {
      background: #fafafa;
      height: 36px;
      line-height: 36px;
      padding: 0 28px;
    }

    .nodeItem {
      border-top: 1px solid #e1e2e6;
      padding: 14px 24px;
    }
  }
}
