.addExcitation {
  width: 120px;
  height: 36px;
  border-radius: 18px;
}

.form {
  margin-top: 30px;
  .textInput {
    width: 200px;
  }
  .rangePicker {
    width: 228px;
  }
  .select {
    width: 120px;
  }
  .submitBtn,
  .resetBtn {
    width: 88px;
    height: 36px;
    border-radius: 20px;
  }
  .submitBtn {
    margin-right: 10px;
  }
}
.table {
  margin-top: 30px;
}

// config
.up,
.edit,
.view {
  margin-right: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #318cf5;
  cursor: pointer;
}
.desc {
  max-width: 200px;
}
