.iconWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  .uploadIcon {
    width: 36px;
    height: 36px;
  }
  .uploadTip {
    margin-top: 8px;
    font-size: 14px;
    color: #606366;
  }
}
