@import url('~@/variable.less');
.btnConfirm,
.btnReset {
  width: 88px;
}
.search-wrap {
  :global {
    .ant-form-item {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}
.customLayout {
  :global {
    .ant-form-item {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}
