.wrap {
  padding: 30px;
  .addRole {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    background: #318cf5;
    border-radius: 20px;
    font-size: 16px;
    // line-height: 40px;
    .btnAddIcon {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
  .form {
    display: flex;
    margin-top: 30px;
    .input {
      width: 290px;
    }
    .searchBtn,
    .resetBtn {
      width: 88px;
      height: 36px;
      border-radius: 20px;
    }
    .searchBtn {
      margin: 0 20px 0 30px;
    }
  }
}
