:global {
  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
}
.wrapper {
  line-height: 1.01;
  min-height: 130px;
  padding: 30px !important;
  background: #ffffff;
  box-shadow: 2px 0px 16px 0px rgba(129, 141, 168, 0.2);
  border-radius: 20px;
  &:nth-child(2n) {
    margin-left: 30px;
  }
}

.iconType {
  display: block;
  width: 44px;
  height: 44px;
}

.bigNum {
  font-style: italic;
  font-size: 40px;
  font-family: Helvetica-BoldOblique, Helvetica;
  color: #111;
}
.contrastArrow {
  transform: translate(0, -3px);
}
.color-success {
  color: #48a767;
}
