.pannel {
  padding: 0 19px;
  height: 44px;
  background: rgba(107, 151, 255, 0.08);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  line-height: 44px;
}

// form
.form {
  :global {
    .ant-form-item {
      margin-bottom: 20px;
    }
  }
  .inpiut,
  .select {
    width: 160px;
    border-radius: 18px;
  }
  .rangePicker {
    width: 250px;
    border-radius: 18px;
  }
  .submit,
  .reset {
    width: 88px;
    height: 36px;
    border-radius: 18px;
  }
  .submit {
    margin-right: 8px;
  }
}

// table
.table {
  :global {
    .ant-table-cell {
      padding: 12px;
    }
  }
}

.tagItem {
  margin-right: 10px;
  padding: 8px 12px;
  line-height: 12px;
  border-radius: 4px;
  white-space: nowrap;
  margin-bottom: 10px;
  cursor: pointer;

  &.cursor {
    cursor: pointer;
  }

  &.yellow {
    background-color: #fff0d8;
    color: #fb851c;
  }

  &.blue {
    background-color: #eaf3fe;
    color: #318cf5;
  }
}

// config
.fullDeptName {
  display: inline-block;
  max-width: 200px;
}

// 已选择列表
.selectWrap {
  margin-top: 20px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #e1e2e6;
}
.tag {
  margin-top: 4px;
  margin-bottom: 4px;
  background: #eaf3fe;
  border-radius: 8px;
}
