/**
* @name style.module
* @author Lester
* @date 2021-10-21 17:20
*/

.formWrap {
  .areaTips {
    color: red;

    .areaTipsVal {
      margin-right: 15px;
    }
  }
  .btnWrp {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  :global {
    .ant-form-item-label {
      padding-right: 20px;
    }

    .ant-form-item-control {
      .ant-select-selector,
      .ant-input {
        border-radius: 18px;
      }
    }

    .ant-form-item-extra {
      position: absolute;
      left: 410px;
      top: 5px;
      white-space: nowrap;
    }

    .ant-upload-list-picture-card {
      display: flex;
    }

    .ant-btn-primary {
      width: 128px;
      border-radius: 20px;
    }
  }
}

.formListWrap {
  position: relative;

  .removeBtn {
    position: absolute;
    left: 410px;
    top: 10px;
    font-size: 20px;
    color: @primary-color;
  }
  .otherData {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 540px;
    top: 4px;
  }
}
