// 接入群聊
.addMoment {
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #318cf5;
  font-size: 14px;
  font-weight: 400;
  color: #318cf5;
}
.tips {
  margin-top: 12px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #7e8185;
  line-height: 20px;
}
.table {
  margin: 20px 0;
  width: 600px;
}

// 选择群聊
.updateBtn {
  display: inline-block;
  margin-left: 6px;
  color: #40a9ff;
}
.chooseChat {
  display: flex;
  .name {
    margin-right: 10px;
    line-height: 32px;
  }
}
.datePicker {
  width: 280px;
  border-radius: 18px;
}
.btn {
  border-radius: 16px;
  border: 1px solid #318cf5;
  color: #40a9ff;
}
.inputWrap {
  .searchInput {
    margin-right: 20px;
    width: 320px;
    height: 32px;
    background: #f7f7f8;
    border-radius: 18px;
    input {
      background: #f7f7f8;
    }
  }
  .searchBtn {
    width: 76px;
    height: 32px;
    background: #318cf5;
    border-radius: 16px;
  }
}
.gruopWrap {
  justify-content: space-between;
  height: 260px;
  padding: 10px;
}
.radioItem {
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  width: 48%;
}
// .radioLabel {
//   display: flex;
//   align-items: center;
.gruopImg {
  margin-right: 8px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.chatGroupInfo {
  .groupName {
    max-width: 168px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    line-height: 20px;
  }
  .leader {
    font-size: 12px;
    font-weight: 400;
    color: #7e8185;
    line-height: 18px;
  }
}
// }
