.emptyWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .emptyImg {
    margin-top: 60px;
    width: 160px;
  }

  .emptyText {
    margin-top: 12px;
    font-size: 16px;
    color: #111111;
    line-height: 28px;
  }
}
