.wrap {
  padding: 30px;
  padding-top: 0;
}
h1 {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.form {
  margin-top: 24px;
  :global {
    .ant-form-item {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
  .submitBtn,
  .resetBtn {
    border-radius: 18px;
  }
  .submitBtn {
    margin-right: 8px;
  }
}
// 新增活码
.addCode {
  margin-bottom: 20px;
  .addCodeBtn {
    width: 122px;
    height: 40px;
    border-radius: 20px;
  }
}

.batch {
  margin-top: 20px;
}
.batchVoid,
.batchDel,
.batchDownLoad {
  margin-right: 20px;
  width: 90px;
  height: 32px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #318cf5;
  color: #318cf5;
}

// config样式
.codeName {
  display: inline-block;
  max-width: 400px;
}
.check,
.edit,
.downLoad,
.void,
.del {
  margin-right: 10px;
  border: none;
  box-shadow: none;
  background-color: transparent !important;
  font-size: 14px;
  font-weight: 400;
  color: #318cf5;
  cursor: pointer;
}
.edit,
.downLoad {
  margin: 0;
}
