.treeWrap {
  padding: 10px 20px;
  width: fit-content;
  min-width: 100%;

  .nodeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    .dotIcon {
      display: none;
      width: 24px;
      font-size: 16px;
    }
  }

  :global {
    .ant-tree-list {
      .ant-tree-treenode {
        padding: 5px 0;
        width: fit-content;
        min-width: 100%;

        .ant-tree-node-content-wrapper {
          background: none;
          padding: 0;
        }

        &.ant-tree-treenode-selected {
          background: rgba(48, 120, 219, 0.2);
          border-radius: 8px;

          .ant-tree-node-selected {
            background: none;

            :local {
              .nodeItem {
                color: @primary-color;

                .dotIcon {
                  color: gray;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.inputWrap {
  flex: none;
  width: 100%;
  padding: 10px 20px;

  :global {
    .ant-input-search-button {
      position: absolute;
      left: -50px;
      top: 2px;
      background: none;
      border: none;
      box-shadow: none;
      outline: none;
      z-index: 999;
    }

    .ant-input-group-addon {
      left: 0;
    }
  }

  .searchIcon {
    margin-right: 2px;
    color: #a9aab0;
    font-size: 16px;
  }
}

.searchList {
  padding: 10px 20px;

  .searchItem {
    padding: 0 16px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;

    &.active {
      background: rgba(48, 120, 219, 0.2);
      color: #318cf5;
    }
  }
}
