.modalWrap {
  width: 640px !important;
  .form {
    .input {
      width: 160px;
      height: 36px;
      border-radius: 18px;
      border: 1px solid #e1e2e6;
    }
    .submitBtn,
    .resetBtn {
      width: 88px;
      height: 36px;
      border-radius: 20px;
    }
    .resetBtn {
      margin-left: 10px;
    }
  }

  .tableWrap {
    margin-top: 30px;
  }
}
