.tableWrap {
  margin: 35px 0 0 45px;
  width: 665px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .detail {
    border: none;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #318cf5;
    cursor: pointer;
  }
}

// Table 样式
.rowDisabled {
  background-color: rgb(250, 250, 250);
  color: #ccccd0;
}
.detailDisabled {
  color: #ccccd0 !important;
  cursor: not-allowed !important;
}
