/**
* @name style
* @author Lester
* @date 2021-05-07 11:01
*/

.wrap {
  width: 100%;
  height: calc(100vh - 240px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
