/**
* @name style.module
* @author Lester
* @date 2021-12-21 13:57
*/
.wrap {
  padding: 24px;

  .addBtn {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: @primary-color;
    border-radius: 20px;
    cursor: pointer;
    color: white;

    .addIcon {
      font-size: 20px;
      margin-right: 4px;
    }
  }

  .taleWrap {
    margin-top: 20px;
  }
}

.adminModal {
  :global {
    .ant-table-body {
      &::-webkit-scrollbar {
        width: 6px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgb(239, 239, 239);
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #bfbfbf;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #318cf5;
      }

      &::-webkit-scrollbar-corner {
        background-color: #e6e7eb;
      }
    }
  }
}

// CallLimit
.modalWrap {
  :global {
    .ant-form-item-label {
      width: 130px;
    }
  }
}
