.selectedWrap {
  width: 630px;
  min-height: 72px;
  max-height: 144px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e1e2e6;
  overflow: auto;
}
.tag {
  margin-top: 4px;
  margin-bottom: 4px;
  background: #eaf3fe;
  border-radius: 8px;
}
