@import '~@/variable.less';

.tagsWrap {
  display: inline-block;
  position: relative;
}
.tag {
  font-size: 14px;
  color: #318cf5;
  // width: 70px;
  padding: 0 10px;
  min-width: 60px;
  height: 24px;
  line-height: 24px;
  background: #eaf3fe;
  border-radius: 8px;
  text-align: center;
  border: none;
}

.tagsTotal {
  position: absolute;
  width: 300px;
  top: 30px;
  color: @color-text-regular;
}
