.wrap {
  .icon {
    font-size: 0.3rem;
    color: blue;
  }

  .img {
    width: 50%;
  }

  .contentCarousel {
    width: 60%;
  }

  .search_wrap {
    margin: 20px;
  }

  .list_wrap {
    margin: 20px;
  }
}
.space {
  padding: 0 20px;
}

.space-top-20 {
  margin-top: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.title {
  padding: 0 0 20px 0;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
.content {
  padding: 20px 0;
}
.toolTipsIcon {
  font-size: 16px;
  color: #999;
  position: relative;
  top: 2px;
}
.myTag {
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  color: #33cdb8;
  background: #fff;
  border: 1px solid #33cdb8;
}
:global {
  .newsAddInternal {
    .bindAccountView {
      .tabView {
        margin: 10px 0 20px 0;
        .titleView {
          margin-left: 16px;
          margin-right: 10px;
          color: #222;
        }
      }
      .contentView {
        border: 1px solid #ddd;
        border-radius: 3px;
        .headerView {
          height: 44px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ddd;
          margin-bottom: 16px;
          .title {
            margin-left: 16px;
            margin-right: 10px;
            color: #222;
            font-weight: 550;
          }
        }
      }
    }
    .shareCardView {
      display: flex;
      padding: 10px;
      border: solid #ddd 1px;
      width: 320px;
      .shareImg {
        width: 60px;
        max-height: 60px;
      }
      .shareContent {
        margin-left: 10px;
        .shareTitle {
          line-height: 30px;
          width: 220px;
          font-size: 14px;
          font-weight: 550;
        }
        .shareSubTitle {
          line-height: 30px;
          width: 220px;
        }
      }
    }
  }
}

.customList {
  width: 652px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  .listHeader {
    height: 42px;
    background-color: #f5f6fa;
    line-height: 42px;
    color: #7e8185;
  }
  .firstCol {
    width: 150px;
    padding-left: 30px;
  }
  .secondCol {
    width: 230px;
  }
  .thirdCol {
    width: 84px;
  }
  .fourthCol {
    text-align: right;
    margin-right: 30px;
  }

  .item {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    :global {
      .ant-btn-link {
        padding: 0;
      }
    }
  }
}

.previewDesc {
  width: 660px;
  max-height: 640px;
  margin: 0 auto;
  overflow-y: auto;

  img {
    max-width: 100%;
  }
}

.wrap {
  background: #fff;
  .content {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 40px 0;
    d h2 {
      font-size: 18px;
      text-align: center;
    }
    p {
      margin: 20px 0;
    }
  }
}
