.modalWrap {
  width: 800px !important;
  height: 646px;
  overflow: hidden;
  .contentWrap {
    display: flex;
    height: 100%;
    .treeWrap {
      width: 400px;
      height: 100%;
      border-right: 1px solid #e6e7eb;
      // overflow: hidden;
      .searchTree {
        width: 380px;
        margin-top: 20px;
        :global {
          input.ant-input {
            width: 380px;
          }
        }
      }
      .title {
        margin: 30px 0 18px 0;
        height: 14px;
        font-size: 14px;
        font-weight: 500;
        color: #111111;
        line-height: 14px;
      }
      .tree {
        overflow: hidden;
        :global {
          // 兼容超长部门的情况
          .ant-tree-node-content-wrapper {
            .ant-tree-title {
              display: inline-block;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .selectedWrap {
      width: 300px;
      padding: 20px 0 20px 20px;
      .seletedTitle {
        margin-top: 30px;
        height: 14px;
        font-size: 14px;
        font-weight: 400;
        color: #999aa1;
        line-height: 14px;
      }
      .selectList {
        height: 368px;
        padding: 10px 4px;
        overflow-y: auto;
        overflow-x: hidden;
        .selectItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // width: 188px;
          height: 36px;
          padding: 0 15px;
          border-radius: 8px;
          background-color: #fff;
          text-align-last: justify;
          transition: background 0.3s;
          &:hover {
            background-color: rgba(48, 120, 219, 0.2);
            // .delIcon {
            //   display: inline-block;
            //   opacity: 1;
            // }
          }
          .delIcon {
            display: inline-block;
            width: 20px;
            height: 20px;
            // opacity: 0;
            transition: opacity 0.3s;
          }
          span.isLeader {
            display: inline-block;
            margin-left: 4px;
            height: 20px;
            padding: 0 8px;
            background-color: rgba(255, 195, 56, 0.2);
            border-radius: 100px;
            font-size: 12px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #ddb100;
            line-height: 20px;
            text-align: center;
          }
        }
      }
    }
  }
  :global {
    // 修改Input组件默认样式
    .ant-input-wrapper {
      position: relative;
      .ant-input-group-addon {
        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        margin: auto;
        border: none;
        border-radius: 4px;
        background-color: #fff;
        line-height: 38px;
        color: #ccccd0;
        z-index: 2;
      }
      input.ant-input {
        height: 40px;
        padding-left: 40px;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #e6e7eb;
      }
    }
    // 修改Modal默认样式
    .ant-modal-content {
      padding: 0 30px;
      .ant-modal-header,
      .ant-modal-footer {
        height: 76px;
        padding: 0;
        border: none;
      }
      .ant-modal-header {
        .ant-modal-title {
          height: 76px;
          line-height: 76px;
          font-size: 16px;
          font-weight: 500;
          color: #111111;
        }
      }
      .ant-modal-body {
        height: 494px;
        padding: 0 19px;
        border-radius: 10px;
        border: 1px solid #e6e7eb;
      }
      .ant-modal-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .ant-btn + .ant-btn {
          margin-left: 10px;
        }
        .ant-btn {
          width: 88px;
          height: 36px;
          border-radius: 20px;
        }
      }
    }
    // 自定义滚动条
    .ant-tree-list-holder {
      &::-webkit-scrollbar {
        width: 6px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgb(239, 239, 239);
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #bfbfbf;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #318cf5;
      }

      &::-webkit-scrollbar-corner {
        background-color: #e6e7eb;
      }
    }
  }
  // 后管端管理成员
  &.omsWrap {
    width: 506px !important;
    height: auto;
    max-height: 100vh;
    .omsContentWrap {
      .title {
        height: 14px;
        font-size: 14px;
        font-weight: 400;
        color: #111111;
        line-height: 14px;
      }
      .chooseAccountList {
        display: flex;
        margin: 20px 0;
        height: 80px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #e1e2e6;
        overflow: auto;
        .chooseAccoutItem {
          position: relative;
          margin: 10px;
          // width: 74px;
          height: 26px;
          padding: 0 10px;
          padding-right: 30px;
          background: #f5f5f5;
          border-radius: 2px;
          border: 1px solid #f0f0f0;
          font-size: 12px;
          font-weight: 400;
          color: #111111;
          line-height: 26px;
          .del {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    :global {
      // 修改Modal默认样式
      .ant-modal-content {
        padding: 0 30px;
        .ant-modal-header,
        .ant-modal-footer {
          height: 76px;
          padding: 0;
          border: none;
        }
        .ant-modal-header {
          .ant-modal-title {
            height: 76px;
            line-height: 76px;
            font-size: 16px;
            font-weight: 500;
            color: #111111;
          }
        }
        .ant-modal-body {
          height: auto;
          padding: 0;
          border: none;
        }
        .ant-modal-footer {
          display: flex;
          justify-content: center;
          align-items: center;
          .ant-btn + .ant-btn {
            margin-left: 23px;
          }
          .ant-btn {
            width: 122px;
            height: 36px;
            border-radius: 18px;
          }
        }
      }
    }
  }
}
