.wrap {
  position: relative;
  padding: 20px 30px;
}
.record {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
  .recordIcon {
    margin-right: 4px;
  }
}

// config style
.up,
.edit,
.add {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #318cf5;
  cursor: pointer;
}
