:root {
  --live-primary-color: #ff0040;
  --live-font-size-base: 14px;
  --live-font-size-lg: 16px;
  --live-font-size-sm: 12px;
}

:root {
  --live-body-background: #efefef;
}

html[data-theme='light']:root {
  --live-body-background: #efefef;
}

html[data-theme='dark']:root {
  --live-body-background: #7e8185;
}
