// Form 的样式
.antSpace {
  width: 100%;
  margin-bottom: 20px;
  .inputBox {
    width: 180px;
  }
  .btn {
    border-radius: 16px;
  }
}

// Table 的样式
.edit {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #318cf5;
  line-height: 20px;
  cursor: pointer;
}

// :global{
//   .ant-checkbox-disabled{
//     input{

//     }
//   }
// }
