/**
* @name style
* @author Lester
* @date 2021-09-27 15:50
*/

.wrap {
  width: 100%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img {
    width: 384px;
  }

  .text {
    margin-top: 10px;
    font-size: 16px;
    color: #111111;
    line-height: 22px;
  }
}
