.wrap {
  padding: 30px;
  .breadcrumbs {
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #999aa1;
    line-height: 14px;
    .goBack {
      cursor: pointer;
    }
    .line {
      display: inline-block;
      margin: 0 6px;
    }
    .current {
      color: #318cf5;
    }
  }
  .add {
    margin-top: 30px;
    .title {
      box-sizing: content-box;
      height: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f5f5f5;
      font-size: 18px;
      font-weight: 400;
      color: #111111;
      line-height: 20px;
    }
    .form {
      .formItem {
        .smallInput {
          width: 300px;
        }
        .longInput {
          width: 600px;
        }
      }
      .submit,
      .cancel {
        width: 140px;
        height: 40px;
        border-radius: 20px;
      }
      .submit {
        margin-left: 544px;
      }
      .cancel {
        margin-left: 20px;
      }
    }
  }
}
