.textArea {
  width: 800px;
}
.panel {
  height: 40px;
  padding: 0 20px;
  background: #f8f8f8;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 40px;
}

.chooseGroup {
  margin-top: 10px;
}

.tips {
  margin-top: 20px;
  padding: 6px 20px;
  background: #f8f8f8;
}

.inputNumber {
  margin-right: 10px;
  border-radius: 18px;
  overflow: hidden;
  vertical-align: middle;
}
.tipsText {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
}

.colorPicker {
  width: 32px;
  height: 32px;
  padding: 0px !important;
  border-radius: 4px !important;
  cursor: pointer;
}

.submitBtn {
  width: 88px;
  height: 32px;
}
