.addFriendBox {
  .addFriendContent {
    .addFriendSearchBox {
      margin-top: 20px;
    }
    .tableBox {
      width: 100%;
    }
  }
}
.textAreaBox {
  width: 494px;
  height: auto;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  .txtLimit {
    font-size: 14px;
    color: #f25555;
    line-height: 20px;
    text-align: right;
    padding-right: 10px;
  }
}
.categoryName {
  display: inline-block;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #33cdb8;
  line-height: 20px;
  font-size: 14px;
  color: #33cdb8;
  text-align: center;
  padding: 0 4px;
}
.highlights {
  width: 100%;
  &::after {
    content: '限10条，且每条亮点字数不超过16个字';
    float: right;
    color: rgba(0, 0, 0, 0.45);
    white-space: nowrap;
    pointer-events: none;
  }
}

.iconUpload {
  font-size: 36px;
}

.authWrap {
  position: relative;
}
:global {
  .customAreaTips {
    position: absolute;
    left: 400px;
    top: 9px;
  }
}
