.formItem__selectGroup {
  :global {
    .ant-form-item {
      width: 134px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.formItem__footerBtnWrap {
  padding-left: 130px;
}
