/**
* @name style.module
* @author Lester
* @date 2021-11-13 09:58
*/

.img {
  width: 104px;
}

.uploadBtn {
  width: 104px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .uploadCircle {
    margin-bottom: 8px;
    width: 36px;
    height: 36px;
    background: rgba(107, 151, 255, 0.08);
    border-radius: 50%;
  }

  .uploadIcon {
    font-size: 30px;
    color: @primary-color;
  }

  .gray {
    color: #7e8185;
  }
}
