.lineWrap {
  padding: 16px;
  border-radius: 8px;
  background: #f7f8fc;

  &.pa0 {
    padding: 0px;
    background: #fff;
  }

  .nodeName {
    width: 160px;
  }
  .smallInput {
    width: 80px;
  }
  .lineText {
    line-height: 30px;
  }
  :global {
    .ant-space-align-center {
      align-items: flex-start;
    }
    .ant-space {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
}

.customItem {
  padding: 16px 0;
  border-radius: 8px;
  background: #f7f8fc;
  :global {
    .ant-switch {
      margin-left: 16px;
    }
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
