.wrap {
  .provideAllBtn {
    margin-bottom: 30px;
    width: 128px;
    height: 40px;
    border-radius: 20px;
  }
  :global {
    .ant-form-item {
      align-items: center;
    }
  }
  // .tableWrap {
  //   margin-top: 30px;
  // }
}
