/**
* @name style.module
* @author Lester
* @date 2021-12-10 10:36
*/
.wrap {
  height: calc(100vh - 80px);
  padding: 24px;
  display: flex;

  .left {
    display: inline-flex;
    flex-direction: column;
    flex: none;
    width: 360px;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #e5e5e7;

    .treeContainer {
      flex: 1;
    }

    .inputWrap {
      flex: none;
      width: 100%;
      padding: 10px 20px;
      border-bottom: 1px solid #e5e5e7;

      :global {
        .ant-input-search-button {
          position: absolute;
          left: -48px;
          top: 2px;
          background: none;
          border: none;
          box-shadow: none;
          outline: none;
          z-index: 999;
        }
      }

      .searchIcon {
        margin-right: 2px;
        color: #a9aab0;
        font-size: 16px;
      }
    }

    .treeWrap {
      padding: 10px 20px;
      width: fit-content;
      min-width: 100%;

      .nodeItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;

        .dotIcon {
          display: none;
          width: 24px;
          font-size: 16px;
        }
      }

      :global {
        .ant-tree-list {
          .ant-tree-treenode {
            padding: 5px 0;
            width: fit-content;
            min-width: 100%;

            .ant-tree-node-content-wrapper {
              background: none;
              padding: 0;
            }

            &.ant-tree-treenode-selected {
              background: rgba(48, 120, 219, 0.2);
              border-radius: 8px;

              .ant-tree-node-selected {
                background: none;

                :local {
                  .nodeItem {
                    color: @primary-color;

                    .dotIcon {
                      color: gray;
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .right {
    margin-left: 18px;
    flex: 1;
    width: calc(100% - 360px);
    min-width: 1240px;
  }

  .departmentOperation {
    position: fixed;
    width: 170px;
    height: 232px;
    padding: 4px;
    box-shadow: 2px 0 16px 0 rgba(129, 141, 168, 0.2);
    z-index: 999;
    border-radius: 8px;
    background-color: white;
    transition: transform 0.2s;

    .operationItem {
      padding: 7px 16px;
      font-size: 12px;
      color: #111111;
      line-height: 18px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.disabled {
        color: #999aa1;
        cursor: no-drop;

        &:hover {
          background: unset;
          border-radius: unset;
          color: #999aa1;
        }
      }

      &:hover {
        background: rgba(48, 120, 219, 0.2);
        border-radius: 8px;
        color: #318cf5;
      }
    }
  }
}

.inputRadius {
  padding: 6px 10px;
  border-radius: 18px;
}

.textCenter {
  text-align: center;
}

.searchList {
  padding: 10px 20px;

  .searchItem {
    padding: 0 16px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;

    &.active {
      background: rgba(48, 120, 219, 0.2);
      color: #318cf5;
    }
  }
}
