.migration {
  .page_title {
    padding: 2px 0 30px;
    font-size: 26px;
  }
  .kanban {
    height: 150px;
    background-color: #f7f7f8;
    border-radius: 10px;
  }
  .kanbanLeft {
    width: 160px;
    margin-left: 50px;
    height: 100%;
    padding: 34px 0;
    .kanbanTitle {
      margin-bottom: 16px;
    }
    .btnViewRange {
      width: 160px;
    }
  }
  .kanbanRight {
    margin-left: 240px;
  }

  .pieTag {
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border-radius: 2px;
    display: inline-block;
    &_success {
      background-color: #a1cdff;
    }
    &_wait {
      background-color: #bbe7d9;
    }
  }

  .pieData {
    height: 28px;
    margin-top: 35px;
    line-height: 1.1;
  }
  .pieBar {
    line-height: 12px;
  }
}
