/**
* @name style.module
* @author Lester
* @date 2021-10-22 14:11
*/

.wrap {
  padding: 24px;

  .row {
    margin-bottom: 28px;
    width: 100%;
    display: flex;
    align-items: center;

    .colLabel {
      width: 70px;
    }

    .colValue {
      flex: 1;
    }

    :global {
      .ant-select {
        width: 240px;
      }

      .ant-btn {
        width: 128px;
        border-radius: 20px;
      }
    }
  }

  .content {
    width: 100%;

    .header {
      position: relative;
      width: 100%;
      height: 280px;
      background: url('src/assets/images/statistics/report_header.jpg') no-repeat center;
      background-size: cover;

      .reportImg {
        position: absolute;
        left: 74px;
        top: 102px;
        width: 649px;
        height: 114px;
      }
    }

    .timeInfo {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      width: 100%;
      height: 46px;
      background-color: #8ea9db;
      color: white;
    }

    .reportTitle {
      margin: 38px 0 30px;

      .titleImg {
        display: block;
        margin: 0 auto;
        width: 725px;
      }

      .titleTips {
        margin-top: 18px;
        padding: 0 40px;
        line-height: 22px;

        .red {
          color: #ff0000;
        }
      }
    }

    .sectionWrap {
      width: 100%;

      .sectionTitle {
        display: flex;
        align-items: center;
        width: 100%;
        height: 54px;
        background-color: #ddebf7;
        border-bottom: 4px solid #305496;

        .msgImg {
          margin-left: 2px;
          width: 50px;
        }

        .titleImg {
          margin-left: 21px;
          width: 221px;
        }
      }
    }
  }
}
