.btn {
  width: 120px;
}

.content {
  .divider {
    margin: 12px 0 30px;
  }
}
.lineWrap {
  :global {
    .ant-space-align-center {
      align-items: flex-start;
    }
    .ant-space {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
}
