.bannerWrap {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #f7f7f8;
  & > div {
    cursor: pointer;
  }
  &.isChildrenContents {
    background-color: #fff;
    height: 36px;
  }
  &.isLastContents {
    padding-left: 23px;
  }
  &:hover {
    background-color: #eaf3fe;
    .edit {
      display: block;
    }
  }
  .icon {
    margin: 0 23px;
    width: 8px;
    height: 14px;
    border: 8px solid #999aa1;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: none;
    &.active {
      margin: 0 20px;
      width: 14px;
      height: 8px;
      margin-top: 3px;
      border: 8px solid #318cf5;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      border-bottom: none;
    }
  }
  .name {
    font-size: 14px;
    color: #111111;
  }
  .info {
    margin: 0 5px;
    font-size: 12px;
    color: #606366;
  }
  .edit {
    display: none;
    margin-left: 30px;
    font-size: 12px;
    color: #318cf5;
    span {
      margin-right: 20px;
      cursor: pointer;
      .svgIcon {
        margin-right: 4px;
        width: 12px;
        height: 12px;
      }
    }
  }
}
.children {
  padding-left: 34px;
  .add {
    display: flex;
    align-items: center;
    margin-left: 52px;
    font-weight: 400;
    color: #318cf5;
    cursor: pointer;
    &.isLastContents {
      margin-left: 20px;
    }
    .addIcon {
      margin-right: 4px;
      font-size: 18px;
    }
  }
}
