.clientInfo,
.chatInfo {
  font-size: 14px;
  font-weight: 400;
  color: #999aa1;
  line-height: 16px;
}
.clientInfo {
  display: flex;
}
.externalUserid {
  margin-left: 20px;
}
.chatInfo {
  margin-top: 20px;
}
.table {
  margin-top: 20px;
}
