.addFriend {
  :global {
    .trHighlight {
      background: #ffffff;
      box-shadow: 2px 0px 16px 0px rgba(129, 141, 168, 0.2);
      color: #318cf5;
    }
    .borderLeft {
      border-left: 1px solid #e8e8e8;
    }
  }
}
