.addStaffWrap {
  display: flex;

  .addStaff {
    margin-right: 20px;
    width: 36px;
    height: 36px;
    padding: 5px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e6e7eb;
    color: #999aa1;
  }
  .selected {
    position: relative;
    padding-right: 36px;
    height: 36px;
    padding-left: 14px;
    background: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
    line-height: 36px;
    .clearSelected {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 36px;
      height: 36px;
      padding: 12px;
      color: #999aa1;
    }
  }
}
