.exportWrap {
  :global {
    .ant-modal-header {
      border-radius: 18px;
    }
    .ant-form-item-label > label {
      color: #111;
      margin-right: 10px;
    }

    .ant-upload {
      height: 184px;
      width: 440px;
      background: #fff;
      border-radius: 18px;
      overflow: hidden;
    }

    .ant-modal-footer {
      padding: 20px;
      .ant-btn {
        width: 110px;
        height: 36px;
        border-radius: 18px;
        & + .ant-btn {
          margin-left: 10px;
        }
        &:disabled {
          color: rgba(0, 0, 0, 0.25);
          border-color: #d9d9d9;
          background-color: #f5f5f5;
        }
      }
    }
  }
  .uploadBtn {
    width: 100px;
  }

  .iconExcel {
    font-size: 56px;
    display: inline-block;
  }
  .uploadInfo {
    text-align: center;
  }
  .format {
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}
