.tableWrap {
  padding: 20px;
  background: #f7f8fc;
  border-radius: 8px;
}
.searchWrap {
  display: flex;
  flex-wrap: nowrap;
}
.staffListInput,
.staffListSelect {
  margin-right: 20px;
  width: 200px;
}
.staffListSearch {
  width: 70px;
  height: 32px;
  border-radius: 16px;
}
.staffList {
  width: 762px;
  border-radius: 8px;
  border: 1px solid #e1e2e6;
  overflow: hidden;
}
.batchDel {
  margin: 20px 0 0 20px;
  border-radius: 18px;
}
