/**
* @name style.module
* @author Lester
* @date 2021-11-05 17:40
*/
.wrap {
  .addBtn {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: @primary-color;
    border-radius: 20px;
    cursor: pointer;
    color: white;

    .addIcon {
      font-size: 20px;
      margin-right: 4px;
    }
  }
}

.circle {
  margin-right: 8px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #d1d1d1;
  border-radius: 50%;

  &.active {
    background-color: #52c41a;
  }
}
