.dataWrap {
  padding: 20px 20px 0;
  background: #ffffff;
  border: 1px solid #eeeeee;

  .dataItem {
    margin: 0 20px 20px 0;
    line-height: 40px;
    width: 200px;
    text-align: center;
    border: 1px solid #eeeeee;
    font-size: 16px;
    .dataTitle {
      font-size: 14px;
      background: #f8f8f8;
    }
  }
}
