.addBtn {
  padding: 0;
  width: 94px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: white;
  border-radius: 18px;
  border: 2px solid @primary-color;
  color: @primary-color;

  .addIcon {
    margin-right: 4px;
    font-size: 16px;
    color: @primary-color;
  }
}

.submitBtn {
  width: 128px;
}

.formListWrap {
  position: relative;

  .removeBtn {
    position: absolute;
    right: -30px;
    top: 10px;
    font-size: 20px;
    color: @primary-color;
  }
}

.customerAddWrap {
  position: relative;
  .btnDemo {
    position: absolute;
    right: -100px;
  }
}
