.tipsText {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #999aa1;
  line-height: 20px;
}

.modalWrap {
  :global {
    .ant-input {
      border-radius: 18px;
      padding: 6px 11px;

      &::placeholder {
        font-size: 12px;
      }
    }
  }
}

.questionItem {
  padding: 14px 20px;
  border-radius: 18px;
  border: 1px solid #e5e5e5;
}
