.contentWrap {
  background: #ffffff;
  box-shadow: 2px 0px 16px 0px rgba(129, 141, 168, 0.2);
  border-radius: 20px;

  .header {
    height: 84px;

    .smallTipBtn {
      height: 28px;
      padding: 0;
      width: 112px;
      border-radius: 8px;
    }
  }
}

.subTitleWrap {
  padding-bottom: 20px;
  margin-top: -20px;
  height: 36px;

  .subTitleBtn {
    height: 36px;
    padding: 0 10px;
    background: #ffffff;
    box-shadow: 2px 0px 16px 0px rgba(129, 141, 168, 0.2);
    border-radius: 18px;
  }
}
