.contentWrap {
  background: #ffffff;
  box-shadow: 2px 0px 16px 0px rgba(129, 141, 168, 0.2);
  border-radius: 20px;

  .header {
    height: 84px;

    .smallTipBtn {
      height: 28px;
      padding: 0;
      width: 112px;
      border-radius: 8px;
    }
  }
}
