.wrap {
  padding: 10px 20px;
  .operation {
    margin-bottom: 9px;
    .btn {
      height: 32px;
      padding: 0 17px;
      border-radius: 16px;
      margin-right: 20px;
    }
  }
  .tableWrap {
    border: 1px solid #e5e5e7;
    border-radius: 8px;
    overflow: hidden;
  }
}
