:global {
  .tooltip {
    width: auto;
    height: 80px;
    background: linear-gradient(315deg, #237cfe 0%, #70acfe 100%);
    box-shadow: 2px 2px 16px 0px rgba(129, 141, 168, 0.41);
    border-radius: 16px;
    opacity: 0.75;
    padding: 12px;
    color: #fff;

    .count {
      font-style: italic;
    }
  }
}
