.formWrap {
  .searchBtn {
    color: #7e8185;
  }
  :global {
    .ant-input {
      border-radius: 16px !important;
    }
    .ant-input-search-button {
      border: none;
      outline: none;
      background: transparent;
      box-shadow: none;
      height: 20px;
      width: 30px;
      &:hover {
        .icon {
          color: #318cf5;
        }
      }

      &::after {
        border: 0 none;
        opacity: 0;
        animation: none 0 ease 0 1 normal;
        outline: none;
      }
    }
    .ant-input-search {
      input {
        padding-right: 40px;
      }
    }
    .ant-input-wrapper {
      position: relative;
    }

    .ant-input-group-addon {
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 4px;
      left: auto !important;
      width: 40px;
      height: 30px;
      background: transparent;
    }
  }
  .formItem {
    line-height: 20px;
    margin-bottom: 12px;
  }
  .formLabel {
    color: #7e8185;
    margin-right: 10px;
  }
}
