.wrap {
  width: 480px !important;
  .form {
    .formItem {
      // width: 100px;
      .input {
        width: 290px;
        margin-left: 28px;
      }
      .treeSelect {
        width: 290px;
      }
      .textAreaVal {
        width: 290px;
        height: auto;
        min-height: 100px;
        max-height: 200px;
      }
    }
  }
}
