.wrap {
  :global {
    .ant-modal-header,
    .ant-modal-footer {
      padding: 20px 30px;
      border: none;
    }
    .ant-modal-footer {
      display: none;
    }
    .ant-modal-body {
      padding-top: 0;
    }
  }
}
