.breadcrumbWrap {
  padding: 20px 0;
  color: #999aa1;
  :global {
    .ant-breadcrumb {
      color: #999aa1;
      display: inline-block;
    }
    .ant-breadcrumb > span:last-child {
      color: #318cf5;
    }
    .ant-breadcrumb a {
      color: #fff;
    }
    .ant-breadcrumb-separator {
      color: #999aa1;
    }
  }
}
