.placeholder {
  width: 300px;
  height: 36px;
  padding: 0 16px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #e1e2e6;
  font-size: 14px;
  font-weight: 400;
  color: #cccdd0;
  line-height: 36px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    border-color: #40a9ff;
  }
}
.momentValue {
  width: 300px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
}
.titleTag {
  display: inline-block;
  margin-right: 4px;
  padding: 0 4px;
  height: 16px;
  border: 1px solid #3888f3;
  border-radius: 2px;
  background: #fff;
  color: #318cf5;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}

.feedList {
  width: 670px;
  padding: 20px;
  background: #f7f8fc;
  border-radius: 8px;
}
.searchBtn,
.resetBtn {
  width: 70px;
  height: 32px;
  border-radius: 16px;
}
.resetBtn {
  margin-left: 10px;
}

.marketingWarp {
  background: #f7f8fc;
  border-radius: 8px;
  padding: 20px;
}

.customTag {
  display: inline-block;
  margin-bottom: 6px;
  height: 24px;
  line-height: 24px;
  background: #eaf3fe;
  border-radius: 8px;
  padding: 0 8px;
  color: #318cf5;
  font-size: 14px;

  .closeIcon {
    float: right;
    font-size: 10px;
    color: #666;
    margin-left: 8px;
    margin-top: 7px;
    &:hover {
      color: #333;
    }
  }
  & + .customTag {
    margin-left: 10px;
  }
}
