.wrap {
  padding: 30px;
}
.addExcitation {
  width: 120px;
  height: 36px;
  border-radius: 18px;
}
.form {
  margin-top: 30px;
  .textInput {
    width: 200px;
  }
  .rangePicker {
    width: 228px;
  }
  .select {
    width: 120px;
  }
}
