@bgColor_3078DB: #3078db;
@color_fff: #fff;

// #Fucntional Color
@color-success: #008002;
@color-waring: #e6a23c;
@color-danger: #f25555;
@color-info: #909399;

// Font Color
@color-text-primary: #111;
@color-text-regular: #7e8185;
@color-text-secondary: #666;
@color-text-placeholder: #999;

// Border Color
@border-color-base: #dcdfe6;
@border-color-light: #ebebeb;
@border-color-lighter: #ebeef5;
@border-color-extra-light: #f2f6fc;

// Background Color
@color-white: #ffffff;
@color-black: #000000;
@background-color-base: #f5f7fa;
