.sceneItem {
  display: inline-block;
  margin-right: 10px;
  padding: 0 12px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #e1e2e6;
  line-height: 28px;
  color: #7e8185;
  cursor: pointer;
  transition: all 0.3s;
  &.active {
    background: #1890ff;
    border-color: #1890ff;
    color: #ffffff;
  }
}

.tips {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #318cf5;
}
