.wrap {
  padding-top: 14px;
  .lotteryList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list {
      display: flex;
      align-items: center;
      .name {
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 400;
        color: #111111;
        line-height: 20px;
      }
      .chooseList {
        margin: 0 12px 0 16px;
        .tagItem {
          margin-top: 4px;
          margin-bottom: 4px;
          height: 26px;
          line-height: 24px;
          background-color: #e6e7eb;
          border-radius: 4px;
          .tagIcon {
            width: 12px;
            height: 12px;
          }
        }
      }
      .addBtn {
        margin-left: 12px;
        width: 90px;
        height: 36px;
        // line-height: 36px;
        border-radius: 18px;
        vertical-align: top;
        .addBtnIcon {
          width: 28px;
          height: 28px;
          color: #999aa1;
        }
      }
    }
    .tip {
      flex-shrink: 0;
      margin-left: 20px;
      font-size: 12px;
      font-weight: 400;
      color: #999aa1;
      line-height: 12px;
    }
  }
}
