.addFriendBox {
  .addFriendContent {
    .addFriendSearchBox {
      margin-top: 20px;
    }
    .tableBox {
      width: 100%;
    }
  }
}
.textAreaBox {
  width: 494px;
  height: 150px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding-right: 10px;
}

.sharePreviewWrap {
  width: 310px;
  height: 114px;
  .shareImg {
    width: 50px;
    height: 50px;
    float: right;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .shareWrap {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ddd;
    float: left;
    // overflow: hidden;
    &::before {
      position: absolute;
      display: block;
      content: '';
      border-width: 10px;
      overflow: hidden;
      border-style: solid dashed dashed;
      border-color: transparent #ddd transparent transparent;
      left: -20px;
      top: 8px;
      width: 0;
      height: 0;
      font-size: 0;
    }
    &::after {
      position: absolute;
      width: 0;
      height: 0;
      font-size: 0;
      overflow: hidden;
      left: -16px;
      top: 10px;
      display: block;
      content: '';
      border-width: 8px;
      border-style: solid dashed dashed;
      border-color: transparent #fff transparent transparent;
    }
    .shareInfo {
      width: 170px;
      float: left;
    }
  }
  .shareTag {
    border-top: 1px solid #ddd;
    font-size: 12px;
    color: #666;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .userImg {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    border: 1px solid #d8d8d8;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
