.addFriendBox {
  .addFriendContent {
    .addFriendSearchBox {
      margin-top: 20px;
    }
    .tableBox {
      width: 100%;
    }
  }
}
.textAreaBox {
  width: 494px;
  height: 150px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding-right: 10px;
}
