.batchBtn {
  margin-top: -50px;
  width: 90px;
  height: 32px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #318cf5;
}

// config
.leadActivityName {
  max-width: 350px;
  vertical-align: middle;
}
