.drawerWrap {
  :global {
    .ant-drawer-body {
      padding: 20px 24px;
    }
  }
}

.infoItem {
  margin-bottom: 15px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  line-height: 20px;

  .key {
    color: #111111;
  }
  .value {
    color: #7e8185;
  }
}
