.modalWrap {
  :global {
    .ant-form-item-label {
      width: 100px;
    }
  }
}
.input {
  width: 290px;
  border-radius: 18px;
  border: 1px solid #e1e2e6;
}
.item {
  display: flex;
  flex-wrap: wrap;
  .delIcon {
    margin-top: 8px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    color: #cccdd0;
  }
}
.tagId {
  display: none;
}
.addBtn {
  border: none;
  color: #40a9ff;
}
