.customModal {
  :global {
    .ant-modal-content {
      border-radius: 8px;
      overflow: hidden;
    }
    .ant-modal-body {
      padding-bottom: 14px;
    }
    .ant-modal-footer {
      .ant-btn {
        width: 76px;
        height: 32px;
        border-radius: 16px;
        color: #7e8185;
        &:hover {
          color: #111;
        }
      }
      .ant-btn-primary {
        color: #fff;
        background: #318cf5;
        border-color: #318cf5;
      }
      .ant-btn-primary:hover,
      .ant-btn-primary:focus {
        color: #fff;
        background: #40a9ff;
        border-color: #40a9ff;
      }
    }
  }
}
